<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <preference for="Anup\US1\Api\Data\CustomCategoryInterface" type="Anup\US1\Api\Data\CustomCategory" />
     <!-- <preference for="Anup\US1\Api\Data\CustomCategoryInterface" type="Anup\US1\Api\Data\CustomCategory2" /> -->
</config>